#
# This file is managed by chezmoi. Always edit it with the command
# chezmoi edit ~/.zshrc
# chezmoi diff
# chezmoi -v apply
#

# MODERN APPLICATIONS
    eza_params=('--git' '--icons' '--classify' '--group-directories-first' '--time-style=long-iso' '--group' '--color-scale')

{{- if ne .chezmoi.os "windows" }}
    alias ls='eza ${eza_params}'
    alias l='eza --git-ignore ${eza_params}'
    alias ll='eza --all --header --long ${eza_params}'
    alias llm='eza --all --header --long --sort=modified ${eza_params}'
    alias la='eza -lbhHigUmuSa'
    alias lx='eza -lbhHigUmuSa@'
    alias lt='eza --tree'
    alias tree='eza --tree'
{{- end }}

{{- if eq .chezmoi.os "windows" }}
    alias ls='ls -h --color=auto'
    alias l='ls -l'
    alias la='ls -a'
    alias ll='ls -la'
{{- end }}

    alias cat='bat --paging=never'
    alias less='bat'
    alias more='bat'

# CONVENIENCE

    # show path broken into lines
    alias path='echo -e ${PATH//:/\\n}' # nice path printing
    alias cz='chezmoi'
    alias cze='chezmoi edit'
    alias cza='chezmoi apply'
