;
; This file is managed by chezmoi. Always edit it with the command
; chezmoi edit ~/.zshrc
; chezmoi diff
; chezmoi -v apply
;

[user]
	name = {{ .name }}
	email = {{ .email }}

[pull]
	rebase = true

[color]
	ui = true

[core]
    pager = delta
	excludesfile = {{ joinPath .chezmoi.homeDir ".gitignore_global" }}

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
