{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt install autojump
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install nvim autojump
{{ else if eq .chezmoi.os "windows" -}}
#!/bin/sh
choco install autojump
{{ end -}}

curl -L git.io/antigen > ~/.antigen.zsh